#searchBox {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: rgba(195, 195, 195, 0.6);
    border: 0px;
    height: 70%;
    min-height: 50px;
    width: 50%;
    text-align:center;
    margin:0px auto;
    display:block;
}