/* ---------- Table in series sites ---------- */

table#seriesTable {
    border-collapse: separate;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 50px auto;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#seriesTable thead {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#seriesTable thead th {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
    background-color: rgba(178, 39, 39, 0.5);
    border-top: 1px solid #858d99;
}

#seriesTable thead th:first-child {
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

#seriesTable thead th:last-child {
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

#seriesTable tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #111111;
    font-size: 17px;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #e0e0e0;
    background-color: rgba(255, 255, 255, 0.6);
}

#seriesTable tbody tr:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.7);
}

#seriesTable tbody tr:last-child td {
    border-bottom: none;
}

#seriesTable tbody tr:last-child td:first-child {
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#seriesTable tbody tr:last-child td:last-child {
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#seriesTable tbody:hover > tr td {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

#seriesTable tbody:hover > tr:hover td {
    text-shadow: none;
    color: rgb(39, 50, 178);
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    transition: 0.2s all;
}